@import url('https://fonts.google.com/share?selection.family=IBM%20Plex%20Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700');

*{
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  color: rgb(85, 85, 85);
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

body {
  padding-left: 30px;
  padding-right: 30px;
}


.header-nav2{
  text-decoration: none;
  padding: 5px;
  font-weight: bold;
  color: rgb(0, 13, 255);
  display: inline-block
}


.header-header{
  font-size: 44px;
  font-weight: 800;
}

.header-header a{
  color: rgb(0, 13, 255);
  text-decoration: none;
}

.header-header a:hover{
  background-color: black;
  color: rgb(230, 255, 196);
}

.header{
  padding: 30px;
  background-color: rgb(227, 227, 227);
  border-bottom: .2px solid rgb(0, 30, 255);
  border-top: 8px solid rgb(13, 0, 255);
  background-size: cover;
  filter: drop-shadow(0px 1px 8px #000000);
  margin-left: -30px;
  margin-right: -30px;
  -webkit-filter: drop-shadow(0px 1px 8px #000000);
}

.header-container{
  display: flex;
}

.header-container ul{
  flex-grow: 1;
  text-align: end;
}

.header-nav a{
  padding: .8em;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 13, 255);
  font-weight: 400;
}

.header-nav a:hover{
    background-color: rgb(22, 22, 22);
    color: rgb(247, 255, 171);
}

.hero-search{
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0, .6);
  background-blend-mode: multiply;
  justify-content: center;
  /* margin-top: 200px;
  margin-bottom: 200px; */
  margin-left: -30px;
  margin-right: -30px;
  /* background-color: rgb(255, 255, 255); */
  height:666px;
  background-image: url(bg-img2.jpg);
  background-size: cover;
}

#search-button{
  filter: drop-shadow(1px 1px 3px #000000);
  background-color: rgb(255, 253, 150);
  font-size: 21px;
  border: none;
  margin-left: 18px;
  height: 36px;
  width: 36px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-filter: drop-shadow(1px 1px 3px #000000);
}

#search-button:hover{
  cursor: crosshair;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  background-color: rgb(186, 255, 146);
  transform: skew(15deg, 15deg);
  -webkit-transform: skew(15deg, 15deg);
  -moz-transform: skew(15deg, 15deg);
  -ms-transform: skew(15deg, 15deg);
  -o-transform: skew(15deg, 15deg);
}

#search-input{
  height: 36px;
  border: none;
  padding-left: 7px;
  background-color: rgb(255, 254, 215);
  font-size: 22px;
  font-weight: 200;
  color: blue;
  filter: drop-shadow(1px 1px 3px #000000);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-filter: drop-shadow(1px 1px 3px #000000);
}

#search-input:hover{
  background-color: rgb(252, 222, 70);
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
}

.footer-nav2{
  text-decoration: none;
  padding: 5px;
  font-weight: bold;
  color: rgb(0, 13, 255);
  display: inline-block
}


.footer-header{
  font-size: 22px;
  font-weight: 300;
  color: rgb(0, 13, 255);
}

.footer-header a{
  color: rgb(0, 13, 255);
  text-decoration: none;
}

.footer-header a:hover{
  background-color: black;
  color: rgb(230, 255, 196);
}

.footer{
  padding: 30px;
  background-color: rgb(210, 210, 210);  
  border-top: 1px solid rgb(4, 0, 255);
  border-bottom: 3px solid rgb(13, 0, 255);
  background-size: cover;
  filter: drop-shadow(0px 1px 8px #000000);
  margin-left: -30px;
  margin-right: -30px;
}

.footer-container{
  display: flex;
}

.footer-container ul{
  flex-grow: 1;
  text-align: end;
}

.footer-nav a{
  padding: .8em;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 13, 255);
  font-weight: 400;
}

.footer-nav a:hover{
  background-color: rgb(22, 22, 22);
  color: rgb(247, 255, 171);
}